@mixin generateIcon($src) {
    -webkit-mask-image: url($src);
    mask-image: url($src);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-info {
    @include generateIcon("../images/icons/icon_info.svg");
}

.icon-warn {
    @include generateIcon("../images/icons/icon_warn.svg");
}

.icon-success {
    @include generateIcon("../images/icons/icon_success.svg");
}

.icon-error {
    @include generateIcon("../images/icons/icon_error.svg");
}

.icon-close {
    @include generateIcon("../images/icons/icon_close.svg");
}
