@use "normalize.scss";
@use "icons.scss";
@use "transitions.scss";
@use "carousel.scss";

* > * {
    color: inherit;
}

body {
    &.scroll-lock {
        overflow-y: hidden;

        touch-action: none;
        -webkit-overflow-scrolling: none;
        overscroll-behavior: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.prevent-drag {
    * {
        user-select: none;
        -webkit-user-drag: none; /* Safari 및 Chrome */
        -webkit-touch-callout: none; /* iOS Safari에서 사용자 선택 메뉴를 방지 */
    }
}
