/* snackbar */
.snackbar-move,
.snackbar-enter-active,
.snackbar-leave-active {
    $snackbarDuration: 300ms;
    transition: opacity $snackbarDuration ease, transform $snackbarDuration ease;
}

.snackbar-enter-from,
.snackbar-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.snackbar-leave-active {
    position: absolute;
}
/* snackbar */
